.container {
  padding: 5px;
  text-align: center;
  width: 100%;
}

.orderBook {
  margin: auto;
  max-width: 415px;
}

.tableWrapper {
  border-collapse: collapse;
  margin-bottom: 1rem;
  text-align: right;
  width: 100%;

  tbody {
    width: 100%;
  }
}

.tableRow {
  height: 25px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: var(--row-hover);
    cursor: pointer;
  }

  &::before {
    content: '';
    height: 24px;
    position: absolute;
    max-width: 415px;
    width: 100%;
    z-index: 0;
    background-color: var(--bar-color);
    transform: scaleX(var(--bar-fill));
    transform-origin: 0 0;
    contain: strict;
  }
}

.bidPrice {
  color: var(--bids-text);
}

.askPrice {
  color: var(--asks-text);
}
