@use './normalize';

// I took these root variables from the working example
:root {
  --white: #fff;
  --background: #0c1114;
  --panel: #1f2a31;
  --card: #1c2a31;
}

body {
  background-color: var(--background);
  color: var(--white);
  margin: 0;
  font-family: monospace;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
