@use './normalize';

// I took these root variables from the working example :)
:root {
  --white: #fff;
  --background: #0c1114;
  --card-book: #1f2a31;
  --asks-bars: rgb(188, 27, 49, 0.25);
  --asks-text: #ff5a6a;
  --bids-bars: rgba(6, 115, 37, 0.25);
  --bids-text: #29baa5;
  --row-hover: #2f4451;
}

body {
  background-color: var(--background);
  color: var(--white);
  margin: 0;
  font-family: monospace;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
